template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_AI_BDM_Trigger_name": {
            "defaultValue": "AI-BDM-Trigger",
            "type": "String"
        },
        "connections_marketoma_externalid": {
            "defaultValue": "/subscriptions/71f5358c-6c14-4c2f-885f-f83719dbc6ba/resourceGroups/AI-Foundry/providers/Microsoft.Web/connections/marketoma",
            "type": "String"
        },
        "connections_azureagentservice_2_externalid": {
            "defaultValue": "/subscriptions/71f5358c-6c14-4c2f-885f-f83719dbc6ba/resourceGroups/AI-Foundry/providers/Microsoft.Web/connections/azureagentservice-2",
            "type": "String"
        },
        "userAssignedIdentities_ai_foundry_uami_externalid": {
            "defaultValue": "/subscriptions/71f5358c-6c14-4c2f-885f-f83719dbc6ba/resourceGroups/AI-Foundry/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ai-foundry-uami",
            "type": "String"
        },
        "connections_azureagentservice_1_externalid": {
            "defaultValue": "/subscriptions/71f5358c-6c14-4c2f-885f-f83719dbc6ba/resourceGroups/AI-Foundry/providers/Microsoft.Web/connections/azureagentservice-1",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_AI_BDM_Trigger_name')]",
            "location": "swedencentral",
            "identity": {
                "type": "UserAssigned",
                "userAssignedIdentities": {
                    "/subscriptions/71f5358c-6c14-4c2f-885f-f83719dbc6ba/resourceGroups/AI-Foundry/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ai-foundry-uami": {}
                }
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "interval": 3,
                                "frequency": "Minute"
                            },
                            "evaluatedRecurrence": {
                                "interval": 3,
                                "frequency": "Minute"
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Get_Leads_By_List_Id": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/marketo')]"
                                    }
                                },
                                "method": "get",
                                "path": "/rest/v1/list/@{encodeURIComponent('1020')}/leads.json",
                                "queries": {
                                    "fields": "@{concat('id,firstName,lastName,email,title,company')}\n"
                                }
                            }
                        },
                        "For_each": {
                            "foreach": "@body('Get_Leads_By_List_Id')?['result']",
                            "actions": {
                                "Create_Thread": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azureagentservice-1']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "body": {
                                            "messages": [
                                                {
                                                    "role": "user",
                                                    "content": "@concat('Please evaluate this lead:', string(items('For_each')))"
                                                }
                                            ]
                                        },
                                        "path": "/threads",
                                        "queries": {
                                            "api-version": "2025-05-01"
                                        }
                                    }
                                },
                                "Create_Run": {
                                    "runAfter": {
                                        "Create_Thread": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azureagentservice']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "body": {
                                            "assistant_id": "asst_YysXDvjwaFszEJQKzodpxqjQ",
                                            "temperature": 1,
                                            "top_p": 1
                                        },
                                        "path": "/threads/@{encodeURIComponent(body('Create_Thread')['id'])}/runs",
                                        "queries": {
                                            "api-version": "2025-05-01"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Get_Leads_By_List_Id": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "marketoma": {
                                "id": "/subscriptions/71f5358c-6c14-4c2f-885f-f83719dbc6ba/providers/Microsoft.Web/locations/swedencentral/managedApis/marketoma",
                                "connectionId": "[parameters('connections_marketoma_externalid')]",
                                "connectionName": "marketoma"
                            },
                            "azureagentservice-1": {
                                "id": "/subscriptions/71f5358c-6c14-4c2f-885f-f83719dbc6ba/providers/Microsoft.Web/locations/swedencentral/managedApis/azureagentservice",
                                "connectionId": "[parameters('connections_azureagentservice_2_externalid')]",
                                "connectionName": "azureagentservice-2",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity",
                                        "identity": "[parameters('userAssignedIdentities_ai_foundry_uami_externalid')]"
                                    }
                                }
                            },
                            "azureagentservice": {
                                "id": "/subscriptions/71f5358c-6c14-4c2f-885f-f83719dbc6ba/providers/Microsoft.Web/locations/swedencentral/managedApis/azureagentservice",
                                "connectionId": "[parameters('connections_azureagentservice_1_externalid')]",
                                "connectionName": "azureagentservice-1",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity",
                                        "identity": "[parameters('userAssignedIdentities_ai_foundry_uami_externalid')]"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    ]
}