logic-app-requestCampaign/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "LogicAppName": {
            "defaultValue": "requestMarketoCampaign",
            "type": "String",
            "metadata": {
                "description": "The name of the Logic App workflow."
            }
        },
        "marketo_connection_name": {
            "defaultValue": "marketoma",
            "type": "String",
            "metadata": {
                "description": "The name for the new Marketo API Connection resource."
            }
        },
        "location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
                "description": "The Azure region where the resources will be deployed. Defaults to the resource group's location."
            }
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('LogicAppName')]",
            "location": "[parameters('location')]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('marketo_connection_name'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_Agent_Calls_Action": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "method": "POST",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "aiAction": { "type": "string" },
                                        "aiExplanation": { "type": "string" },
                                        "aiCategory": { "type": "string" },
                                        "leadScore": { "type": "integer" },
                                        "icpScore": { "type": "integer" },
                                        "leadID": { "type": "integer" },
                                        "leadData": { "type": "object", "properties": {} },
                                        "companyData": { "type": "object", "properties": {} }
                                    }
                                }
                            },
                            "description": "When done reviewing a lead use this action to send it back to marketo.  Include an aiAction of (qualify, disqualify, nurture, or hr), include an aiExplanation of why you've made this choice.  "
                        }
                    },
                    "actions": {
                        "Switch": {
                            "runAfter": { "Init_Variables": [ "Succeeded" ] },
                            "cases": {
                                "Qualify": { "case": "qualify", "actions": {} },
                                "Nurture": { "case": "nurture", "actions": {} },
                                "Disqualify": { "case": "disqualify", "actions": {} },
                                "Send_to_HR": { "case": "hr", "actions": {} }
                            },
                            "default": { "actions": {} },
                            "expression": "@triggerBody()?['aiAction']",
                            "type": "Switch"
                        },
                        "Request_Campaign": {
                            "runAfter": { "Switch": [ "Succeeded" ] },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['marketoma']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "input": {
                                        "leads": [ { "id": "@triggerBody()?['leadID']" } ],
                                        "tokens": [
                                            { "name": "aiExplanation", "value": "@triggerBody()?['aiExplanation']" },
                                            { "name": "aiAction", "value": "@triggerBody()?['aiAction']" },
                                            { "name": "aiCategory", "value": "@triggerBody()?['aiCategory']" },
                                            { "name": "icpScore", "value": "@{triggerBody()?['icpScore']}" },
                                            { "name": "leadScore", "value": "@{triggerBody()?['leadScore']}" }
                                        ]
                                    }
                                },
                                "path": "/rest/v1/campaigns/@{encodeURIComponent(coalesce(variables('smartCampaignMapping')[triggerBody()?['aiAction']], 1234))}/trigger.json"
                            }
                        },
                        "Init_Variables": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    { "name": "smartCampaignId", "type": "integer", "value": 0 },
                                    {
                                        "name": "smartCampaignMapping",
                                        "type": "object",
                                        "value": { "qualify": 1239, "nurture": 1237, "disqualify": 1236, "hr": 1240 }
                                    }
                                ]
                            }
                        },
                        "Respond_to_agent": {
                            "runAfter": { "Request_Campaign": [ "Succeeded" ] },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 200,
                                "body": "@body('Request_Campaign')"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "marketoma": {
                                "id": "[subscription().id]/providers/Microsoft.Web/locations/[parameters('location')]/managedApis/marketoma",
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('marketo_connection_name'))]",
                                "connectionName": "[parameters('marketo_connection_name')]"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('marketo_connection_name')]",
            "location": "[parameters('location')]",
            "kind": "V1",
            "properties": {
                "displayName": "[parameters('marketo_connection_name')]",
                "api": {
                    "id": "[subscription().id]/providers/Microsoft.Web/locations/[parameters('location')]/managedApis/marketoma"
                }
            }
        }
    ]
}
