logic-app-aiAgentTrigger/template.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "LogicAppName": {
      "defaultValue": "aiAgentTrigger",
      "type": "String"
    },
    "marketo_connection_name": {
      "defaultValue": "marketoma",
      "type": "String",
      "metadata": {
        "description": "The name for the new Marketo API Connection resource."
      }
    },
    "ai-agentservice_connection_name": {
      "defaultValue": "azureagentservice",
      "type": "String",
      "metadata": {
        "description": "The name for the new Azure Agent Service API Connection resource."
      }
    },
    "ai_foundry_uami_externalid": {
      "defaultValue": "ai-foundry-uami",
      "type": "String"
    },
    "mktoListId": {
      "type": "Int",
      "metadata": {
        "description": "The Marketo List ID to retrieve leads from."
      }
    },
    "ai-agent-id": {
      "type": "String",
      "metadata": {
        "description": "The ID of the AI Agent to be used in the workflow."
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('LogicAppName')]",
      "location": "swedencentral",
      "identity": {
        "type": "UserAssigned",
        "userAssignedIdentities": {
          "/subscriptions/71f5358c-6c14-4c2f-885f-f83719dbc6ba/resourceGroups/AI-Foundry/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ai-foundry-uami": {}
        }
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "Agent ID": {
              "defaultValue": "[parameters('ai-agent-id')]",
              "type": "String"
            },
            "leadFields": {
              "defaultValue": "id,firstName,lastName,email,title,company",
              "type": "String"
            },
            "mktoListId": {
              "defaultValue": "[parameters('mktoListId')]",
              "type": "Int"
            },
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "interval": 10,
                "frequency": "Minute"
              },
              "evaluatedRecurrence": {
                "interval": 10,
                "frequency": "Minute"
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "Get_Leads_By_List_Id": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['marketoma']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/rest/v1/list/@{encodeURIComponent(parameters('mktoListId'))}/leads.json",
                "queries": {
                  "fields": "@{parameters('leadFields')}\n"
                }
              }
            },
            "For_each": {
              "foreach": "@body('Get_Leads_By_List_Id')?['result']",
              "actions": {
                "Create_Thread": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azureagentservice']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "messages": [
                        {
                          "role": "user",
                          "content": "@concat('Please evaluate this lead:', string(items('For_each')))"
                        }
                      ]
                    },
                    "path": "/threads",
                    "queries": {
                      "api-version": "2025-05-01"
                    }
                  }
                },
                "Create_Run": {
                  "runAfter": {
                    "Create_Thread": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azureagentservice']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "assistant_id": "@parameters('Agent ID')",
                      "temperature": 1,
                      "top_p": 1
                    },
                    "path": "/threads/@{encodeURIComponent(body('Create_Thread')['id'])}/runs",
                    "queries": {
                      "api-version": "2025-05-01"
                    }
                  }
                }
              },
              "runAfter": {
                "Get_Leads_By_List_Id": [
                  "Succeeded"
                ]
              },
              "type": "Foreach",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 1
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "marketoma": {
                "id": "/subscriptions/71f5358c-6c14-4c2f-885f-f83719dbc6ba/providers/Microsoft.Web/locations/swedencentral/managedApis/marketoma",
                "connectionId": "[parameters('marketo_connection_name')]",
                "connectionName": "marketoma"
              },
              "azureagentservice": {
                "id": "/subscriptions/71f5358c-6c14-4c2f-885f-f83719dbc6ba/providers/Microsoft.Web/locations/swedencentral/managedApis/azureagentservice",
                "connectionId": "[parameters('ai-agentservice_connection_name')]",
                "connectionName": "azureagentservice-2",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity",
                    "identity": "[parameters('ai_foundry_uami_externalid')]"
                  }
                }
              }
            }
          }
        }
      }
    }
  ]
}